extends layout
block content
  .container
    .row
      .col-sm-9
        table(class='table tree table-condensed table-hover')
          thead
            tr
              th Подразделение
              th Руководители
          tbody
            each department in record_list
              tr(class= department.trClass)
                td: a(href= department.url) #{department.name}
                td #{department.chiefs}
  script(src='/js/jquery.treegrid.js')
  script(src='/js/jquery.treegrid.bootstrap3.js')
  script(src='/js/jquery.cookie.js')
  script.
    $(document).ready(function(){ 
      $('.tree').treegrid({initialState: 'collapsed', saveState: true}).treegrid('getRootNodes').treegrid('expand');
    });
