extends layout
block content
  .container
    h4 Расхождение суммы расхода в файле Rashod и суммы расхода в файле Smeta
    table(class='table tree table-condensed table-hover')
      thead(class='sticky')
          tr
            th ЛицСчёт
            each eCode in eCode_list
              th(class='text-right') #{eCode}
      tbody
        each record in diff_list
          tr(class= record.trClass)
            td #{record.contract}
            each eCode in eCode_list
              td(class='text-right cost uptoruble') #{record[eCode]} 
    pre #{logimport}
  script(src='/js/jquery.treegrid.js')
  script(src='/js/jquery.treegrid.bootstrap3.js')
  script(src='/js/jquery.cookie.js')
  script.
    $(document).ready(function(){ 
      $('.tree').treegrid({initialState: 'collapsed'}).treegrid('getRootNodes');
    });
