@font-face {
  font-family: 'PT Sans'; 
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/PTS55F_W.eot'); 
  src: local('PT Sans'), local('PTSans-Regular'),
       url('/fonts/PTS55F_W.woff') format('woff'),
       url('/fonts/PTS55F_W.ttf') format('truetype');
}

body {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.thumbnail {
  margin-bottom: 0;
}

.contract {
  background: hsl(140, 10%, 98%);
}

thead th {
  background: hsl(0, 0%, 95%);
  position: sticky;
  top: 50px;
  z-index: 10;
}

tfoot th {
    background: hsl(0, 0%, 93%);
    position: sticky;
    bottom: 0;
    z-index: 10;
}

