@font-face {
  font-family: 'PT Sans'; 
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/PTS55F_W.eot'); 
  src: local('PT Sans'), local('PTSans-Regular'),
       url('/fonts/PTS55F_W.woff') format('woff'),
       url('/fonts/PTS55F_W.ttf') format('truetype');
}

body {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: hsl(0, 0%, 99%);
}

thead th {
  background: #F0F0F0;
  position: sticky;
  top: 33px;
  z-index: 10;
}

tfoot th {
  background: #F0F0F0;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.nav > li > a {
  padding: 5px 15px;
}

.contract {
  background: #F8F8F8;
}

@media print {
  tfoot th {
    position: static;
  }
  a:visited {
    text-decoration: none;
  }
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "`";
  }
}